img{
	height:60px;
	width:60px;
	margin-right:2%;
}

.login-tooltip{
	
	width:245px;
	position:absolute;
	right:21px;
	z-index:20;
	top:132px;
}

.alert{
	position: absolute;
	top:47px;
	right:0px;
	line-height: 22px;
	z-index: 1000;
}

.close{
	padding-left:10px;
}

 h1{
	position: absolute;
	top:59px;
	left:70px;
	width: auto;
}

@media (max-width: 600px) {

	.page-header .container-fluid{
		margin-bottom:37px;
	}
	h1{
		top:90px;
		left:8px;
		width:300px;
	}
}