.title-small{
	margin-left:2%;
	font-size:14px;
}

img{
	height:60px;
	width:60px;
	margin-right:2%;
	position: absolute;
}

.login-tooltip{
	
	width:245px;
	position:absolute;
	right:21px;
	z-index:20;
	top:132px;
}

.alert{
	position: absolute;
	top:47px;
	right:0px;
	line-height: 22px;
	z-index: 1000;
}

.close{
	padding-left:10px;
}

.beta-label{
	margin-left:2%;	
}
.row{
	margin-top:5px;
}
/* BETA*/
body .page-header .container-fluid{
	margin-bottom:5px;
}