<template name="middle">
  <div class="container-fluid">  
    <div class="body box">
    {{#if Template.subscriptionsReady}}
      <form class="form-inline search-form" role="search">      
        <span class="label label-default timestamp">{{timestamp trending.timestamp}}</span>
        <span class="label label-info location-tag">{{trending.locationName}}</span>
        <div class="form-group">    
          <input id="places-search" name="autocomplete" class="form-control typeahead search-input" autocomplete="off" spellcheck="off" data-source="autocomplete" placeholder="Search Locations" value = "">

          <button type="submit" class="btn btn-default search-submit">Submit</button>
        </div>                
      </form>      
      <div class="container-fluid trend-list-div">
        <ul class="list-group">          
          {{#each trending.trends}}
          <li class="list-group-item"><span>{{this.name}} <a class="url-link" href="{{this.url}}"><span class="glyphicon glyphicon-arrow-right"></span></a> </span><div><small>{{count this.tweet_volume}}</small></div></li>
          {{/each}}
        </ul>
      </div>
      {{else}}
  {{> loading}}
  {{/if}} 
    </div>   
  </div>  
</template>