<head>
  <title>TrendsOnTap</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>

  <body>  
    {{> infoBar}}
  	{{> middle}}
  </body>

<template name="infoBar">
  
	<div class="page-header">
      {{> errors}}

      {{#unless userLogged }}
        {{> tooltip}}
      {{/unless}}
      
			{{> loginButtons}}

			<h1><img src="/TrendsOnTapLogo.png">Trends On Tap<small>what's trending on twitter</small></h1>

	</div>

</template>

<template name="footer">
  
	<div class="footer"></div>

</template>